.floaty-unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.floaty-row {
    display: flex;
    flex-direction: row;
}

.floaty-row-item {
    width: 0;
}

.floaty-row-separator {
    position: relative;
    top: 0;
    bottom: 0;
    width: 1em;
    cursor: e-resize;
}
